<% provide(:title, 'Login') %>
<div class="container row justify-content-md-center">
    <div class="row">
        <div class="form-group mx-auto">
            <h1>Log in</h1>
        </div>
        <div class="container">
            <%= render 'loginform' %>
        </div>
    </div>
</div>