<% provide(:title, 'Users') %>
<div class="form content">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= value %>
        </div>
    <% end %>
    <h1 class="text-center">List of Users</h1>
    </div class="container">
        <ul class="users">
            <table class="table table-borderless">
                <thead>
                    <tr>
                    <th scope="col">Members</th>
                    <% if (current_user.account_type == 1) %>
                    <th scope="col">Action</th>
                    <% end %>
                    </tr>
                </thead>
                <% @users.each do |user| %>
                <tbody>
                    <tr>
                    <td><%= link_to user.name, user %></td>
                    <% if (current_user.account_type == 1) %>
                    <td><%= link_to 'delete', user_path(user), method: :delete, data: { confirm: "You sure?" } %></td>
                    <% end %>
                    </tr>
                </tbody>
                <% end %>
            </table>
        </ul>
    </div>
</div>