<% provide(:title, 'Edit Category') %>
<div class="container row justify-content-md-center">
    <div class="row">
        <div class="form-group mx-auto">
            <h1>Add Category</h1>
        </div>
        <div class="container">
            <%= render 'newcategory' %>
        </div>
    </div>
</div>